registry=https://registry.npmjs.org/
@jsr:registry=https://npm.jsr.io/
always-auth=false
strict-ssl=false
shamefully-hoist=true
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=prisma
