registry=https://registry.npmjs.org/
@jsr:registry=https://npm.jsr.io/
always-auth=false
strict-ssl=false
shamefully-hoist=true
only-built-dependencies[]=@nestjs/core
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=@whiskeysockets/baileys
only-built-dependencies[]=msgpackr-extract
only-built-dependencies[]=prisma
only-built-dependencies[]=protobufjs
only-built-dependencies[]=tesseract.js
